<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-3 bg-light p-3">
      <app-sidebar></app-sidebar>
    </div>
    <!-- Table Content -->
    <div class="col-lg-9 p-3">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">data1</th>
          <th scope="col">data2</th>
          <th scope="col">data3</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
