<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-3 bg-light p-3">
      <app-sidebar></app-sidebar>
    </div>
    <!-- Table Content -->
    <div class="col-lg-9 p-3">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Yetki</th>
          <th scope="col">İşlemler</th>
        </tr>
        </thead>
        <tbody>
        @for(user of users; track user.username){
        <tr>
          <td>{{user.username}}</td>
          <td>{{user.role}}</td>
          <td>
            <button class="btn btn-primary">Düzenle</button>
            <button class="btn btn-danger">Sil</button>
          </td>
        }
        </tbody>
      </table>
    </div>
  </div>
</div>
